<div class="page">

    <div class=side-bar>

        <% if(locals.username) { %>
            <label for="imageInp"> <img src="images/photo.jpg" height="70px" widht="70px"> </label>
            <input id="imageInp" type="file" name="profile" accept="image/*" style="display: none;">
            <p style="text-align:center;">
                <a href="/myblog">
                    <%= username %>
            </p> </a>
            <% } else { %>
                <a href="/auth">LogIn</a> <br>
                <% } %>
                    <a href="/create">Create</a> <br>
                    <a href="/saved">Saved</a> <br>
                    <% if(locals.username) { %>
                        <a href="/auth">LogOut</a> <br>
                        <% } %>
    </div>