<%- include("partials/header.ejs") %>

    <div class="auth">

        <div class="left">
            <h1>Welcome!</h1>
            <img src="images/welcome.jpg" height="300px" alt="">
        </div>


        <form onsubmit="return validatePasswords()" action="/" method="POST">
            <div class="hi">
                <label for="imageInp"> <img id="outputImg" src="images/photo.jpg" height="70px" widht="70px"> </label>
                <input id="imageInp" type="file" name="profile" accept="image/*" style="display: none;">
            </div>

            <div class="hi">
                <label>Username</label> <br />
                <input type="text" name="username" placeholder="chinchinati34" required>
            </div>

            <div class="hi">
                <label>Email</label> <br />
                <input type="email" name="email" placeholder="user@example.com" required>
            </div>

            <div>
                <label>Password</label> <br />
                <input type="password" id="password" name="password" required>
            </div>

            <div>
                <label>Re-type Password</label> <br />
                <input type="password" id="confirmPassword" name="confirmPassword" required>
            </div>

            <p id="message"></p> <br />

            <div>
                <button>SignIn</button>
            </div>
        </form>



    </div>







    <%- include("partials/footer.ejs") %>