<%- include("partials/header.ejs") %>

    <%- include("partials/side-bar.ejs") %>

    

        <div class="create">

            <form action="/" method="post">
                <input class="title" type="text" name="title" placeholder="Blog Title" required style="width: 100%;">

                <label for="imageInp"> <img id="outputImg" height="200" width="300"> </label>
                <input id="imageInp" type="file" name="image" accept="image/*" style="display: none;"> 

                <br>

                <textarea name="content">
                    </textarea> <br>


                <button>Create</button>

            </form>
        </div>




        </div>

        <%- include("partials/footer.ejs") %>